@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<address>
    Md Moniruzzaman <br />
    <b>Founder & Headmaster</b> <br /> <br />

   <h3>Safiuddin Sarker Academy and College</h3>
   <b>Address :</b> College Gate, Tongi Gazipur <br />
   <b>Email   :</b> SSAC@gmail.com <br />
   <b>Mobile  :</b> 01679248713<br />
</address>


